<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.6.6/dist/terminal.min.css" />
  </head>
  <body class="hack dark">
    <div class="standard">
      <div class="main container">
        <section>
          <div class="terminal-nav">
            <div class="terminal-logo">
              <div class="logo terminal-prompt"><a href="/" class="no-style">Home</a></div>
              <div class="logo terminal-prompt"><a class="menu-item" href="#" onclick="window.history.back();">Back</a></div>
            </div>
            <nav class="terminal-menu">
              <ul>
                <li><a class="menu-item" href="https://github.com/fuzzy/" title="GitHub">GitHub</a></li>
                <li><a class="menu-item" href="https://git.devfu.net/fuzzy/" title="DevFu.net">GiTea</a></li>
              </ul>
            </nav>
        </section>
        {{.Payload}}        
        </div>
      </div>    
  </body>
</html>
