<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.6.6/dist/terminal.min.css" />
    <link rel="stylesheet" href="/static/railscasts.css">
    <script src="/static/highlight.pack.js"></script>
    <script>
      hljs.initHighlightingOnLoad();

      function SwitchArrows(c, s) {
          cobj = document.getElementById(c);
          sobj = document.getElementById(s);
          console.log(cobj.style.visibility)
          if (cobj.style.display == "block") {
              sobj.src = "/static/down.png";
              cobj.style.display = "none";
          } else {
              sobj.src = "/static/up.png";
              cobj.style.display = "block";
          }
          return
      }
    </script>
  </head>
  <body class="hack dark">
    <div class="standard">
      <div class="main container">
        <section>
          <div class="terminal-nav">
            <div class="terminal-logo">
              <div class="logo terminal-prompt">
                <a href="/" class="no-style">
                  Home
                </a>&nbsp;|
                <a class="menu-item" href="#" onclick="window.history.back();">
                  Back
                </a>
              </div>
            </div>
            <nav class="terminal-menu">
              <ul>
                <li>
                  <a class="menu-item" href="https://github.com/fuzzy/" title="GitHub">
                    GitHub
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="https://git.devfu.net/fuzzy/" title="DevFu.net">
                    GiTea
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="/org/python/index.org" title="Python development">
                    Python
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="/org/golang/index.org" title="GoLang development">
                    GoLang
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="/org/emacs/index.org" title="Emacs stuff">
                    Emacs
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="/org/devops/index.org" title="DevOps stuff">
                    DevOps
                  </a>
                </li>
                <li>
                  <a class="menu-item" href="/org/unix/index.org" title="*NIX stuff">
                    UNIX
                  </a>
                </li>
              </ul>
            </nav>
        </section>
        {{.Payload}}        
        </div>
      </div>    
  </body>
</html>
